#header{
    border-bottom: solid;
}
ul{
    text-align: left;
}
th{
    background-color: gray;
}
h1{
    font-family: 'Baloo Thambi';
}
.mem_prod{
    font-family: 'Indie Flower';
    font-style: italic;
}
#image{
    background-image: url(../img/bnb_cover.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:400px;
    height:400px;
    margin: auto;
}
