body{
    font-family: 'Nunito Sans', sans-serif;
}

header{
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 10px;
}

footer{

    border-top: solid 1px;
    text-align: center;
    padding: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

a{
    padding-right: 30px;
}

h1{
    margin:auto;
    width: 400px;
    text-align: center;
}
