 body{
    font-family: 'Nunito Sans', sans-serif;

}

header{
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 10px;
}

footer{

    border-top: solid 1px;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

h1{
    margin:auto;
    width: 400px;
    text-align: center;
    font-family: 'Mirza';
}

h3{
    font-size: 130%;
}

#content{
    width: 1200px
    height: 100%;
    overflow: auto;
    margin-bottom: 70px;
}
.required{
    font-weight: bold;
}

a{
    padding-right: 30px;
}

a:visited{
    color:#ff00ff;
}
a:hover{
    font-weight: bold;
}

a:active{
    text-decoration: none;
}
table{
    margin:auto;
    background-color: white;
    width: 50%;
    border: dotted #66b3ff;
    color:#191967;
    font-weight: bold;
}
th{
    text-decoration: underline;
}
td{
    text-align: center;
}
